<% provide(:title,"用户") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <div >
		<%= link_to "修改资料", edit_user_path(@user) %>
	</div>
      <h1>        
        <%= "name:  #{@user.name}" %>
      </h1>
      <h1>        
        <%= "email:  #{@user.email}" %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
  <h3>我的帖子数： <%= @user.posts.count %></h3>
    <% if @user.posts.any? %>
      
      <ol class="microposts">
       <% @posts.each do |post| %>
       <%= render post %>
       <% end %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
  </div>

