<%= provide(:title, @post.subject) %>
<div class="row">
<div class="col-md-4 col-md-offset-4">
         
       <h3> <%= "主题:  #{@post.subject}" %></h3>
     
</div>
</div>
<% if @post.contents.any? %>
      <h3>已回复： <%= @post.content_count %></h3>
      <ol class="microposts">
       <% @contents.each do |content| %>
       <%= render content %>
       <% end %>
      </ol>
      <%= will_paginate @contents %>
    <% end %>
   

<%= form_for(:content, url: content_create_path) do |f| %>
<div class='col-md-6'>
<%= f.text_area :ct, class: "form-control", style: "height: 120px;" %>
</div>
<div class="col-md-12"></div>
<div class='col-md-4'>
<%= f.submit "回复", class: "btn btn-primary" %>
</div>
<%= hidden_field_tag :post_id, @post.id %>
<% end %>